@charset "utf-8";

/* Mobile version: 375px */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    --corp1: hsl(158, 36%, 37%); /*price, button*/
    --corp2: hsl(30, 38%, 92%); /*border*/
    --corp3: hsl(158, 36%, 22%); /*button hover*/
    --cors1: hsl(228, 12%, 48%); /*text*/
    --cors2: hsl(212, 21%, 14%); /*title*/

    --font-m: 'Montserrat', sans-serif; /*text, button*/
    --font-f: 'Fraunces', serif; /*title, price*/
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    overflow-x: hidden;
    padding: 10px;
}

div#mainborder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 670px;
    background-color: var(--corp2);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

main {
    display: flex;
    flex-direction: column;
    width: 345px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

main > div#imagem {
    height: 260px;
    background: var(--corp2) url(../images/image-product-mobile.jpg) no-repeat center center;
    background-size: cover;
}

main > section#info {
    padding: 25px;
}

section#info > span#topic {
    color: var(--cors1);
    font-family: var(--font-m);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 5px;
}

section#info > h1 {
    color: var(--cors2);
    font-family: var(--font-f);
    font-weight: 700;
    font-size: 2em;
    line-height: 1em;
    margin: 10px 0px;
}

section#info > p {
    color: var(--cors1);
    font-family: var(--font-m);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7em;
    margin: 15px 0px;
}

section#info > div#price {
    display: flex;
    align-items: center;
}

div#price > span#discount {
    color: var(--corp1);
    font-family: var(--font-f);
    font-weight: 700;
    font-size: 2em;
}

div#price > span#total {
    color: var(--cors1);
    font-family: var(--font-m);
    font-weight: 500;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 15px;
}

section#info > button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;

    background-color: var(--corp1);
    color: white;
    font-family: var(--font-m);
    font-weight: 700;
    cursor: pointer;
}

section#info > button:hover {
    background-color: var(--corp3);
}

button > span.material-symbols-outlined {
    font-size: 1.4em;
    padding-right: 10px;
}

footer {
    margin-top: 15px;
}