@charset "utf-8";

/* Mobile version: 375px */

:root {
    --color-primary-1: hsl(158, 36%, 37%); /*price, button*/
    --color-primary-2: hsl(158, 36%, 22%); /*button hover*/
    --color-primary-3: hsl(30, 38%, 92%); /*border*/
    --color-secondary-1: hsl(228, 12%, 48%); /*text*/
    --color-secondary-2: hsl(212, 21%, 14%); /*title*/

    --font-base: 'Montserrat', sans-serif; /*text, button*/
    --font-title: 'Fraunces', serif; /*title, price*/

    --fw-normal: 500;
    --fw-bold: 700;
}

/* Remove default margin
   Intuitive box-sizing model. */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

/* Typographic tweaks!
     Accessible line-height
     Improve text rendering */
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1;
}

/* General styling */

body {
    font-family: var(--font-base);
    color: var(--color-secondary-1);
    overflow-x: hidden;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--color-primary-3);
}

.c-product-card {
    width: 355px;
    height: 650px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 30px;
}

.c-product-card__product-info {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
}

.c-product-card__product-type {
    font-size: 0.8rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.c-product-card__product-name {
    font-family: var(--font-title);
    font-size: 2rem;
    font-weight: var(--fw-bold);
    color: var(--color-secondary-2);
    margin-bottom: 15px;
}

.c-product-card__product-description {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.c-product-card__product-price {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 15px;
}

.c-product-card__discount-price {
    font-family: var(--font-title);
    font-size: 2rem;
    color: var(--color-primary-1);
}

.c-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 10px;
    background-color: var(--color-primary-1);
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}

.c-button:is(:hover, :focus)  {
    background-color: var(--color-primary-2);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    text-align: center;
    background-color: white;
}

.footer a {
    color: hsl(228, 45%, 44%);
}

.footer a:hover {
    color: var(--color-primary-1);
}